<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>使用指南</title>
        <style>
            #pageone{
                width:90%;
                margin:0 auto;
            }
            #pageone .image-text-block{
                margin-bottom:30px;
            }
            h2{text-align: center;}
            h3{text-align: center;}
            img{text-align: center;width: 80%;}
        </style>
        <script type="text/javascript">
        	// $("img").css("display":"block","width":"200px","margin":"0 auto");
        </script>
	</head>
	
	<body>
		<div id="pageone">
			<h2>车GO使用指南</h2>
        <h3 style="color:#888888;font-size:22px;">预约洗车</h3>
			<div class="image-text-block block1">
                <p>车GO提醒您，在使用预约功能之前，您需要在<span style="color:red;">个人信息</span>中填写车牌号。</p>
                <img src="/static/img/help/person info setting.jpg" alt="" style="">
			</div>	
            
			<div class="image-text-block block2">
                <p>快捷洗车，<span style="font-size:24px;color:red;">2步搞定，到店即洗</span>，再也不用为找不到洗车店和洗车排队而烦恼。</p>
				<img src="/static/img/help/welcome.jpg" alt="">
			</div>
            
			<div class="image-text-block block3">
                <p>我们会综合地理位置，车店信誉评级等各方面因素等为您推送<span style="font-size:24px;color:red;">最便捷</span>的8家当前可提供洗车服务的车店。</p>
				<img src="/static/img/help/quick search.jpg" alt="">
			</div>	
            
            <div class="image-text-block block3">
                <p><span style="color:red;">注意</span>：预约成功后，车店会为您保留<span style="color:red;">30分钟</span>空位。如果您超出1小时仍然未到车店，您将被视为违约，1天内不能使用预约服务。</p>
                <img src="/static/img/help/order prompt.jpg" alt="">
			</div>	

        <h3 style="color:#888888;font-size:22px;">查询周边</h3>
            <div class="image-text-block block3">          
                <p>有了查询周边，不必再困扰于保养维修找不到好的车店；更不必担心因不了解车店而被坑了。</p>
				<img src="/static/img/help/search nearby.jpg" alt="">
			</div>	
            
            <div class="image-text-block block3">
                <p>车店详情：</p>
				<img src="/static/img/help/shop detail.jpg" alt="">
			</div>	
            
        <h3 style="color:#888888;font-size:22px;">服务记录</h3>    
            <div class="image-text-block block3">
				<p>我们还为您提供了服务记录功能，让您更了解自己的消费情况。</p>
				<img src="/static/img/help/service record.jpg" alt="">
			</div>	
            
        <h3 style="color:#888888;font-size:22px;">客服系统</h3>    
            <div class="image-text-block block3">
				<p>为了您能享受到更优质的服务，如有任何疑问，您可以发送微信消息给我们，我们会尽快安排专人为您处理。</p>
                <p style="color:red;">更多功能，敬请期待！</p>
				<img src="/static/img/logo/cargo logo black.png" alt="车GOlogo">
			</div>
            
		</div>
	</body>

</html>